* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
    background-color: black;
}

canvas {
    background-color: #a0a0a0;
}