* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

.d-none {
    display: none !important
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
    background-color: black;
    background-image: url('assets/img/gui/page_background.jpg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

p {
    margin: 10px 0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: #ffffff;
}

.wrapper {
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100vw;
    height: calc(100vw * (768 / 1400));
    max-width: 1400px; 
    max-height: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-home {
    background-image: url('assets/img/gui/cover.jpg');
}

.bg-gameOver {
    background-image: url('assets/img/gui/lose.jpg');
    z-index: 1;
}

.bg-gameWin {
    background-image: url('assets/img/gui/win.jpg');
    z-index: 1;
}

.bg-grey {
    background-image: url('assets/img/gui/background.jpg');
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.75);
    gap: 32px
}

.imprint {
    width: 90%;
    height: 90%;
    padding: 20px;
    overflow-y: auto;
}

.controls-wrapper{
    position: absolute;
    width: 100%;
    bottom: 40px;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.endscreen-controls {
    background-color: red;
}

.control-btn {
    cursor: pointer;
    width: 200px;
}

.control-btn-back {
    cursor: pointer;
    position: absolute;
    top: 80px;
    right: 80px;
    width: 140px;
}

.mobile-controls-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 20px 20px 20px;
}

.mobile-controls-wrapper.show {
    display: none;
}

.mobile-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-controls-area {
    display: flex;
    gap: 16px;
}

.mobile-control-btn {
    cursor: pointer;
    width: 60px;
    height: auto;
}

.btn_mute {
    all: unset;
    cursor: pointer;
    width: 80px;
    height: 65px;
    background-image: url('assets/img/gui/btn_mute.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 52px;
    right: 32px;
}

.btn_mute.muted {
    background-image: url('assets/img/gui/btn_unmute.png');
}

.portrait-message {
    position: absolute;
    background: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px); 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: none;
}

@media (orientation: portrait) and (any-pointer: coarse) {
    .portrait-message {
        display: flex;
    }
}

@media (any-pointer: coarse) {
    .mobile-controls-wrapper.show {
        display: block;
    }
}

@media only screen and (max-width: 1400px) {
    canvas, .wrapper {
      width: 100vw;
    }
  }

@media only screen and (max-height: 768px) {
    canvas, .wrapper{
      height: 100vh;
    }
  }

@media only screen and (max-width: 1024px) {

    body {
        font-size: 16px;
    }

    .control-btn {
        width: 180px;
    }

    .control-btn-back {
        width: 100px;
    }

    .btn_mute {
        width: 50px;
        top: 24px;
    }
}

@media only screen and (max-width: 480px) {
    .mobile-control-btn {
        width: 44px;
    } 

    .control-btn {
        width: 120px;
    }
}