* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;;
    background-color: black;
    flex-direction: column;
}

canvas {
    display: block;
    background-color: blue;
}

@media only screen and (max-width: 1400px) {
    canvas {
      width: 100vw;
    }
  }

@media only screen and (max-height: 768px) {
    canvas {
      height: 100vh;
    }
  }